<div class="main-card border-primary mb-3">
  <div class="row g-0 back-over-card">
    <div class="col-md-4">
      <img src="/img/about.jpg" alt="Perfil" class="img-fluid d-sm-block">
    </div>
    <div class="col-md-8">
      <div class="card-body py-5 car-css">
        <h1 class="card-title">Sobre Stefania Bruera</h1>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ipsam odit reprehenderit temporibus blanditiis eligendi odio? Fuga, non at? Accusamus delectus dolorum deserunt quidem ratione autem amet mollitia, magnam officia reiciendis sequi error aliquid fugit, necessitatibus harum molestiae illo in excepturi nulla. Nobis accusantium nam at numquam odio dignissimos error repellat obcaecati impedit libero deserunt dolorem enim quasi neque veritatis, veniam modi nisi labore sequi ipsam exercitationem tenetur sed? Porro fugiat reiciendis eligendi consectetur ipsam et doloremque animi odit repellendus!</p>
      </div>
    </div>
  </div>
</div>